In [2]:
# Downloading live data in dataframe format

import yfinance as yf
import pandas as pd

In [11]:
ticker = "NCC" # netflix stock
df = yf.download(ticker)

[*********************100%***********************]  1 of 1 completed

In [12]:
df

             Open   High    Low  Close  Adj Close  Volume
Date
2012-05-03  2.760  2.760  2.760   2.76       2.76    2767
2012-05-04  0.806  0.806  0.799   0.80       0.80       0
2012-05-07  2.760  2.760  2.760   2.76       2.76    2767
2012-05-08  2.760  2.760  2.760   2.76       2.76    2767
2012-05-09  2.760  2.760  2.760   2.76       2.76    2767
...           ...    ...    ...    ...        ...     ...
2022-02-24  2.150  2.150  2.150   2.15       2.15       0
2022-02-25  2.150  2.150  2.150   2.15       2.15       0
2022-02-28  2.150  2.150  2.150   2.15       2.15       0
2022-03-01  2.150  2.150  2.150   2.15       2.15       0
2022-03-02  2.150  2.150  2.150   2.15       2.15       0

[2342 rows x 6 columns]

In [14]:
df.to_csv("ncc_stock.csv")